/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*[b-8d53njwzkl] {
  margin: 0;
  padding: 0;
}

body[b-8d53njwzkl] {
  background-color: #F8C471; /* Use the yellow-orange background color */
  }


.header[b-8d53njwzkl] {
  display: flex;
  justify-content: space-between; /* Space out items evenly */
  align-items: center; /* Center items vertically */
  padding: 10px 20px; /* Add padding to the header */
  position: relative;
  top: 0;
  width: 100%;
  background-color: white;
}

.header a[b-8d53njwzkl] {
  margin-left: 20px;
  color: #343a40;
  text-decoration: none;
}
.header a:hover[b-8d53njwzkl] {
  text-decoration: underline;
}

.flex-container[b-8d53njwzkl] {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.friends-box1[b-8d53njwzkl] {
    flex: 1;
    background-color: gray; /* Background color for Box 1 */
}

.friends-box2[b-8d53njwzkl] {
    flex: 1;
    background-color: white; /* Background color for Box 2 */
}

.avatar-photo-nav[b-8d53njwzkl] {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  gap: 30px;
}

.logo[b-8d53njwzkl] {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  right: 35px;
}














.btn-primary[b-8d53njwzkl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.box-shadow[b-8d53njwzkl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8d53njwzkl] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8d53njwzkl] {
  position: absolute; /* Keep the footer absolute */
  bottom: 0;
  width: 100%; /* Full width */
  white-space: nowrap;
  line-height: 60px;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background-color: white;
}
