body {
  background-color: #F8C471; /* Use the yellow-orange background color */
  }
.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  }
  .login-container h1 {
  font-weight: bold;
  color: #343a40;
  }
  .login-container p {
  font-size: 1.1rem;
  color: #6c757d;
  }
  .btn-purple {
  background-color: #6C3483;
  color: white;
  }
  .btn-purple:hover {
  background-color: #5B2C6F;
  color: white;
  }
  .custom-link {
  color: #6C3483;
  text-decoration: none;
  }
  .custom-link:hover {
  text-decoration: underline;
  }